{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
<section>
    <h1>Formations</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa inventore maiores modi aperiam a fuga incidunt nulla dicta reiciendis, ipsum at sunt sapiente cumque natus! Vero unde exercitationem illum iure!</p>
</section>
{% endblock %}
