{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/contact.css') }}">
{% endblock %}

{% block body %}
	<section>
		<h1>
			Contact
		</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi culpa nostrum at temporibus molestiae rem deserunt quod nam, quos architecto sapiente tenetur adipisci cupiditate minima exercitationem! Obcaecati atque voluptatem ut?</p>
	</section>
{% endblock %}
